---
systemctl: /bin/systemctl
defaults:
    emailFrom: websrvmon@example.com
    emailTo: admin@example.com
    fetchTimeoutSecs: 15
    execTimeoutSecs: 30
services:
    -
        name: rickosborne.org httpd
        url: https://rickosborne.org
        scripts:
            - apache2ctl -k restart
    -
        name: rickosborne.org WordPress
        url: https://rickosborne.org/blog/
        headers:
            - "Rick: was here"
        after:
            - rickosborne.org httpd
        emails:
            -
                emailSubject: WordPress down on rickosborne.org
                emailBody: |
                    Attempts to fetch from rickosborne.org/blog are failing.
    -
        name: Known failure
        url: https://rickosborne.org/fail
        restarts:
            - bogus-svc
        emails:
            - {}
    -
        name: Mastodon at m.rickosborne.org
        url: https://m.rickosborne.org/@rick
        after:
            - rickosborne.org httpd
        restarts:
            - "mastodon*"
        emails:
            -
                emailSubject: Mastodon down on m.rickosborne.org
                emailBody: |
                    Attempts to fetch from m.rickosborne.org are failing.
    -
        name: Bookwyrm at lit.rickosborne.org
        url: https://lit.rickosborne.org/@rick
        after:
            - rickosborne.org httpd
        restarts:
            - "bookwyrm*"
        emails:
            -
                emailSubject: BookWyrm down on lit.rickosborne.org
                emailBody: |
                    Attempts to fetch from lit.rickosborne.org are failing.
    -
        name: PixelFed at ricko.photos
        url: https://ricko.photos/@rick
        after:
            - rickosborne.org httpd
        restarts:
            - "pixelfed*"
        emails:
            -
                emailSubject: PixelFed down on ricko.photos
                emailBody: |
                    Attempts to fetch from ricko.photos are failing.
    -
        name: Funkwhale at funkwhale.monkeyhex.com
        url: https://funkwhale.monkeyhex.com/@rick
        after:
            - rickosborne.org httpd
        emails:
            -
                emailSubject: Funkwhale down on funkwhale.monkeyhex.com
                emailBody: |
                    Attempts to fetch from funkwhale.monkeyhex.com are failing.
        restarts:
            - "funkwhale*"
